{% extends "base/base.html" %}
{% block head_content %}
{% load staticfiles %}

<style>


  .msg { color:#999; opacity:0; display:inline;
    transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -webkit-transition: opacity .5s ease-in-out;
}
input:focus+.msg { opacity:1; }
    .black {
      background-color: #333;
      color: white;
    }
    
    
</style>
{% endblock head_content %}
{% block container %}
<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
       <h3> <i class="fa fa-calendar-o fa-1x"></i> Edición de Reservas</h3> 
      </div>
    </div>
    <form role="from" method="post" enctype="multipart/form-data">
      
    <div class="clearfix"></div>
   
    {% if form.errors %}
      {% for field in form %}
      {% for error in field.errors %}
      <div class="alert alert-danger alert-dismissable" role="alert">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Error1!</strong> campo {{field.label}} {{ field.errors }} 
      </div>
      {% endfor %}
      {% endfor %}
      {% endif %}
      {% csrf_token %}
    <!--hotel information end-->
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h4>Locación</h4>

            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <div class="form-horizontal form-label-left">
              <div class="col-md-6 col-sm-12 col-xs-12">
                
                <div class="form-group">
                  <label class="col-md-12 col-sm-12 col-xs-12" align="left">
                    {{form2.hotel.label}}
                  </label>
                  <div class="col-md-12 col-sm-12 col-xs-12" align="left">
                    {{form2.hotel}}
                  </div>

                 

                </div>
              </div>
              <div class="col-md-6 col-sm-12 col-xs-12">
                
                <div class="form-group">
                 

                  <label class="col-md-12 col-sm-12 col-xs-12" align="left">
                    Seleccione Habitación
                  </label>
                
                  {{form.id_room}} 
                  
                  </div>

                </div>
              </div>
             
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--hotel information end-->
    <!--gest information end-->
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h4>Información de Huesped</h4>

            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <div class="form-horizontal form-label-left">
              <div class="col-md-6 col-sm-12 col-xs-12">
                
                <div class="form-group">
                  <label class="col-md-12 col-sm-12 col-xs-12" align="left">
                    {{form.name_guest.label}}
                  </label>
                  <div class="col-md-12 col-sm-12 col-xs-12" align="left">
                    {{form.name_guest}}
                    <span class="fa fa-user form-control-feedback right" aria-hidden="true"></span>

                  </div>

                  <label class="col-md-12 col-sm-12 col-xs-12" align="left">
                    {{form.id_guest.label}}
                  </label>
                  <div class="col-md-12 col-sm-12 col-xs-12" align="left">
                    {{form.id_guest}}
                    <div class="msg">Número sin separaciones, ni puntos, ni comas.</div>
                    <span class="fa fa-credit-card form-control-feedback right" aria-hidden="true"></span>
                  </div>

                </div>
              </div>

              <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="form-group">
                  <label class="col-md-12 col-sm-12 col-xs-12" align="left">
                    {{form.telephone_guest.label}}
                  </label>
                  <div class="col-md-12 col-sm-12 col-xs-12" align="left">
                    {{form.telephone_guest}}

                    <span class="fa fa-phone form-control-feedback right" aria-hidden="true"></span>
                  </div>

                  <label class="col-md-12 col-sm-12 col-xs-12" align="left">
                    {{form.city_guest.label}}
                  </label>
                  <div class="col-md-12 col-sm-12 col-xs-12" align="left">
                    {{form.city_guest}}
                    <div class="msg">Ciudad de procedencia del huesped</div>
                    <span class="fa fa-map form-control-feedback right" aria-hidden="true"></span>
                  </div>

                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
    <!--gest information end-->

    <div class="clearfix"></div>
    <!--reservation information init-->
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h4>Información de Reserva</h4>

            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <div class="form-horizontal form-label-left">
              <div class="col-md-6 col-sm-12 col-xs-12" align="center">
                <br><br>
                <button type="button" class="btn btn-info btn-md" data-toggle="modal" data-target="#myModal">Click para
                  Seleccionar Fechas</button>

              </div>

              <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="form-group">
                  <label class="col-md-12 col-sm-12 col-xs-12" align="left">
                    {{form.check_in.label}}
                  </label>
                  <div class="col-md-12 col-sm-12 col-xs-12" align="left">
                    {{form.check_in}}

                    <span class="fa fa-calendar form-control-feedback right" aria-hidden="true"></span>
                  </div>

                  <label class="col-md-12 col-sm-12 col-xs-12" align="left">
                    {{form.check_out.label}}
                  </label>
                  <div class="col-md-12 col-sm-12 col-xs-12" align="left">
                    {{form.check_out}}

                    <span class="fa fa-calendar form-control-feedback right" aria-hidden="true"></span>
                  </div>

                </div>
              </div>
              <div class="x_title">
                <h4></h4>

                <div class="clearfix"></div>
              </div>

              <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="form-group">
                  <label class="col-md-12 col-sm-12 col-xs-12" align="left">
                    {{form.nights.label}}
                  </label>
                  <div class="col-md-12 col-sm-12 col-xs-12" align="left">
                    {{form.nights}}

                    <span class="fa fa-moon-o form-control-feedback right" aria-hidden="true"></span>
                  </div>

                  <label class="col-md-12 col-sm-12 col-xs-12" align="left">
                    {{form.number_adults.label}}
                  </label>
                  <div class="col-md-12 col-sm-12 col-xs-12" align="left">
                    {{form.number_adults}}

                    <span class="fa fa-users form-control-feedback right" aria-hidden="true"></span>
                  </div>
                  <label class="col-md-12 col-sm-12 col-xs-12" align="left">
                    {{form.number_childs.label}}
                  </label>
                  <div class="col-md-12 col-sm-12 col-xs-12" align="left">
                    {{form.number_childs}}

                    <span class="fa fa-child form-control-feedback right" aria-hidden="true"></span>
                  </div>
                  <label class="col-md-12 col-sm-12 col-xs-12" align="left">
                    {{form.rate.label}}
                  </label>
                  <div class="col-md-12 col-sm-12 col-xs-12" align="left">
                    {{form.rate}}

                    <span class="fa fa-dollar form-control-feedback right" aria-hidden="true"></span>
                  </div>
                </div>
              </div>

              <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="form-group">
                  <label class="col-md-12 col-sm-12 col-xs-12" align="left">
                    {{form.commission.label}}
                  </label>
                  <div class="col-md-12 col-sm-12 col-xs-12" align="left">
                    {{form.commission}}

                    <span class="fa fa-money form-control-feedback right" aria-hidden="true"></span>
                  </div>

                  <label class="col-md-12 col-sm-12 col-xs-12" align="left">
                    {{form.total.label}}
                  </label>
                  <div class="col-md-12 col-sm-12 col-xs-12" align="left">
                    {{form.total}}

                    <span class="fa fa-dollar form-control-feedback right" aria-hidden="true"></span>
                  </div>
                  <label class="col-md-12 col-sm-12 col-xs-12" align="left">
                    {{form.total_amc.label}}
                  </label>
                  <div class="col-md-12 col-sm-12 col-xs-12" align="left">
                    {{form.total_amc}}

                    <span class="fa fa-shopping-cart form-control-feedback right" aria-hidden="true"></span>
                  </div>

                </div>
              </div>
              <label class="col-md-12 col-sm-12 col-xs-12" align="left">
                  {{form.observations.label}}
                </label>
              <div class="col-md-12">
                  {{form.observations}}
              </div>
                {{form.id_user_register}}


            </div>

          </div>
          <div class="col-md-7 col-md-offset-3">
              <input type="hidden" name="id_user_modify" value="{{user.id}}">

            <button class="btn btn-success btn-block" type="submit">Actualizar</button>
          </div>
        </div>
      </div>
    </div>

    </form>

  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Seleccione la duración de la reserva</h4>
      </div>
      <div class="modal-body">
        <fieldset>
          <div class="control-group">
            <div class="col-md-12 col-xs-12">
              <div class="controls">
                <div class="input-prepend input-group">
                  <span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i></span>
                  <input type="text" style="width: 100%" name="reservation" id="reservation" class="form-control" />
                </div>
              </div>
            </div>
          </div>
        </fieldset>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-success" onclick="SaveDate()">Guardar</button>


      </div>
    </div>

  </div>
</div>
{% endblock container %}
{% block bottom_content %}


<script type="text/javascript">
{% if messages %}
    swal({
            title: '{% for error in messages %}{{ error }}{% endfor %}',
            text: 'Reasignar fecha de estadía',
            icon: 'error',
            button: 'OK'
          });
{%endif%}

hotel_pre_charged = document.getElementById("id_hotel").value;
if (hotel_pre_charged){
  SelectRoom();
}
/*Function to calcle total*/
function CalcleTotal(){
  var nights=Number(document.getElementById("id_nights").value);
  var rate=Number(document.getElementById("id_rate").value);
  document.getElementById("id_total").value=nights*rate;
}
/*Function to calcle total AMC*/
function CalcleTotalAmc(){
  var total=Number(document.getElementById("id_total").value);
  var commission=Number(document.getElementById("id_commission").value);
  document.getElementById("id_total_amc").value=total*commission/100;
}
function formatDate(date) {
    var d = new Date(date),
        month = '' + (d.getMonth() + 1),
        day = '' + d.getDate(),
        year = d.getFullYear();

    if (month.length < 2) month = '0' + month;
    if (day.length < 2) day = '0' + day;

    return [year, month, day].join('-');
}
  function SaveDate() {
    /*function to select the range of dates*/
    document.getElementById("id_check_in").value = '';
      document.getElementById("id_check_out").value = '';
    var range_data = document.getElementById("reservation").value;
    separated_data = range_data.split('-');
    check_in = separated_data[0].replace(/\s+/, "");
    check_out = separated_data[1].replace(/\s+/, "");
   
      document.getElementById("id_check_in").value = formatDate(check_in);
      document.getElementById("id_check_out").value = formatDate(check_out);
      nights = (new Date(check_out) - new Date(check_in)) / 86400000;
      document.getElementById("id_nights").value = nights;
    

    $('#myModal').modal('hide');
  }
  function SelectRoom() {
    /*function to select the rooms asociated to the hotel*/
    $.ajax({

      url: '{% url 'reservations:ajax_get_rooms' %}',
      data: {
        hotel: $('#id_hotel').val(),

        'csrfmiddlewaretoken': '{{ csrf_token }}'

      },
      dataType: 'text',
      type: "POST",
      success: function (response) {

        if (response) {
          $('#id_id_room').html('');
          $('#id_id_room').append(response);

        }
        else {
          swal({
            title: 'Habitaciones no encontradas',
            text: 'Porfavor agregar las habitaciones asociadas a dicho hotel',
            icon: 'error',
            button: 'OK'
          });

        }
      }
    });


  }


</script>
{% endblock %}