
{% extends "base/base.html" %}
{% load staticfiles %}
{% block container %}
<div class="right_col" role="main">
  <div class="">
    <div class="row top_tiles">
      <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="tile-stats">
          <div class="icon"><i class="fa fa-building-o"></i></div>
          <div class="count">{{hotels|length}}</div>
          <h3>Hoteles</h3>
          <p>Registrados por Amc</p>
        </div>
      </div>
      <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="tile-stats">
          <div class="icon"><i class="fa fa-calendar-o"></i></div>
          <div class="count">{{reservations|length}}</div>
          <h3>Reservas</h3>
          <p>En total a la fecha</p>
        </div>
      </div>
      <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="tile-stats">
          <div class="icon"><i class="fa fa-home"></i></div>
          <div class="count">{{rooms}}</div>
          <h3>Habitaciones</h3>
          <p>Disponibles en total</p>
        </div>
      </div>
      <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="tile-stats">
          <div class="icon"><i class="fa fa-dollar"></i></div>
          <div class="count">{{totalamc}}</div>
          <h3>Recaudo</h3>
          <p>Para el mes de {{today|date:"F"}} </p>
        </div>
      </div>
    </div>


    <div class="col-md-8 col-xs-12">
      <div class="x_panel">

        <div class="x_title">
          <h2>Reservas AMC</h2>

          <div class="clearfix"></div>
        </div>
        <div class="x_content">

          <div id="echart_donut1" style="height:400px;"></div>

        </div>
      </div>
    </div>




  <div class="col-md-4 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Recaudo del mes </h2>

        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <ul class="list-unstyled  ">
          {% for name, money in dic_money.items %}
        
          <li class="media event">
            <a class="pull-left border-aero profile_thumb">
              <i class="fa fa-building-o aero"></i>
            </a>
            <div class="media-body">
              <a class="title" href="#">{{name}}</a>
              <p><strong>${{money}}</strong> </p>
              <p> <small>para el mes de {{today|date:"F" }} </small>
              </p>
            </div>
          </li>
         
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>

</div>
</div>

  {% endblock  %}
  {% block bottom_content %}
  <script src="{% static "vendors/echarts/dist/echarts.js" %}"></script>
  <script type="text/javascript">

    $(document).ready(function () {
        var theme = {
            color: [
                '#26B99A', '#34495E', '#BDC3C7', '#3498DB',
                '#9B59B6', '#8abb6f', '#759c6a', '#bfd3b7'
            ],

            
        };
        var echartDonut = echarts.init(document.getElementById('echart_donut1'), theme);

        echartDonut.setOption({
            tooltip: {
                trigger: 'item',
                formatter: "{a} <br/>{b} : {c} ({d}%)"
            },
            calculable: true,
            legend: {
                x: 'center',
                y: 'bottom',
                 data: [
                     {% for data  in hotels %}
                    
                        '{{data.name}}',
                   
                    {% endfor %}
             ]
            },
            toolbox: {
                show: true,
                feature: {
                    magicType: {
                        show: true,
                        type: ['pie', 'funnel'],
                        option: {
                            funnel: {
                                x: '25%',
                                width: '50%',
                                funnelAlign: 'center',
                                max: 1548
                            }
                        }
                    },
                    restore: {
                        show: true,
                        title: "Restore"
                    },
                    saveAsImage: {
                        show: true,
                        title: "Save Image"
                    }
                }
            },
            series: [{
                name: 'Porcentaje Poblacion',
                type: 'pie',
                radius: ['35%', '55%'],
                itemStyle: {
                    normal: {
                        label: {
                            show: true
                        },
                        labelLine: {
                            show: true
                        }
                    },
                    emphasis: {
                        label: {
                            show: true,
                            position: 'center',
                            textStyle: {
                                fontSize: '14',
                                fontWeight: 'normal'
                            }
                        }
                    }
                },
                data: [
                    
                    {% for data  in hotels %}
                    
                       {value: {{reservations_hotels}}[{{forloop.counter}}],
                       name:'{{data.name}}'},
                   
                    {% endfor %}
                    
                    
                    ]
            }]
        });
        });

</script>
    
    {% endblock %}
