{% extends "base/base.html" %}
{% load staticfiles %}
{% block head_content %}

{% endblock head_content %}
<!-- FullCalendar -->

{% block container %}
<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Hoteles Amc<small> Consulta Calendario</small> </h3>
      </div>

      <div class="title_right">
        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
        
        </div>
      </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
      <div class="col-md-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Seleccione hotel para consultar</h2>
            
            <div class="clearfix"></div>
          </div>
          <div class="x_content">

            <div class="row">



              {% for hotel in hotels%}
              
              {% if request.user.profile.role == 3 and hotel.id == request.user.profile.operator_hotel.pk %}
                
              
              <a href="{% url 'reservations:calendar' hotel.id %}">
              <div class="col-md-55">
                <div class="thumbnail">
                  <div class="image view view-first">
                    <img style="width: 100%; display: block;height: 90%;padding: 10px" src="{{hotel.picture.url}}" alt="image" />

                  </div>
                  <div class="caption">
                    <p>{{hotel}}</p>
                  </div>
                </div>
              </div></a>
              {%elif request.user.profile.role != 3%}
              <a href="{% url 'reservations:calendar' hotel.id %}">
                  <div class="col-md-55">
                    <div class="thumbnail">
                      <div class="image view view-first">
                        <img style="width: 100%; display: block;height: 90%;padding: 10px" src="{{hotel.picture.url}}" alt="image" />
    
                      </div>
                      <div class="caption">
                        <p>{{hotel}}</p>
                      </div>
                    </div>
                  </div></a>
              {% endif %}
              {% endfor %}








            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


  {% endblock container %}